.funny-glasses {
    position: relative;
    bottom: 107px;
    left: 215px;
}
.bandana {
    position: absolute;
    top: 179px;
    left: 107px;
}
.pawprint {
    position: fixed;
    top: 46px;
    left: 64px;
}
.stick-corgi {
    position: sticky;

}
.stick-clothing {
    position: sticky;
    left: 0px;
}
.luna {
    position: sticky;
    left: 0px;

}
.top-hat {
    z-index: 1;
}